* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


p {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

section {
    margin-inline: 1.5rem;
    max-width: 500px;
    max-width: max-content;
    border: 1px solid #888;
    border-radius: 15px;
    padding: .5rem;
    margin-top: 4rem;
    gap: 1rem;
    padding: 2rem 3rem;
}

div{
    max-width: 450px;
}

img[data-testid="slackDisplayImage"] {
    border-radius: 15px;
    margin-bottom: 1rem;
   
}

p[data-testid="slackUserName"] {
    font-size: 18px;
    font-weight: 700;
}

p[ data-testid="currentDayOfTheWeek"] {
    font-weight: 400;
    font-size: 18px;
}

p[data-testid="currentUTCTime"] {
    font-weight: 400;
    font-size: 18px;
}

p[data-testid="myTrack"] {
    font-weight: 400;
    font-size: 18px;
}

a[data-testid=“githubURL”] {
    font-weight: 400;
    font-size: 18px;
}


@media screen and (min-width: 500px) {
    section {
        margin-inline: auto;
        margin-top: 4rem;
        border: 2px solid;
    }

    p[data-testid="slackUserName"] {
        font-size: 32px;
        font-weight: 700;
    }

    p[ data-testid="currentDayOfTheWeek"] {
        font-weight: 400;
        font-size: 24px;
    }

    p[data-testid="currentUTCTime"] {
        font-weight: 400;
        font-size: 24px;
    }

    p[data-testid="myTrack"] {
        font-weight: 400;
        font-size: 24px;
    }

    a[data-testid=“githubURL”] {
        font-weight: 400;
        font-size: 24px;
    }
}