* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


p{
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.container {
    margin-inline: 1.5rem;
    max-width: 500px;
}

.content {
    max-width: max-content;
    border: 1px solid #888;
    border-radius: 15px;
    padding: .5rem;
    margin-top: 4rem;
    gap: 1rem;
    padding: 2rem;
}

.text {
    font-size: 18px;
    font-weight: 700;

}

.textalt {
    font-weight: 400;
    font-size: 18px;

}

.img-container {
    max-width: 450px;
}

.img {
    border-radius: 15px;
    margin-bottom: 1rem;
}

.utc {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

@media screen and (min-width: 500px) {
    .container {
        margin-inline: auto;
    }

    .content {
        margin-top: 3rem;
        border: 2px solid;
    }

    .text {
        font-size: 30px;
    }

    .textalt {
        font-size: 32px;
    }

    .utc {
        font-size: 32px;
    }
}